@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500&family=Inter:wght@400;500;600;700&family=Outfit:wght@500;700&display=swap');
@import "tailwindcss";

@theme {
  /* Cores de Fundo */
  --color-background: #15151d; /* Fundo principal escuro e relaxante */
  --color-surface: #1F2335;    /* Fundo dos cards e seções destacadas */

  /* Cores de Texto */
  --color-muted: #A9B1D6;      /* Cinza/prata para os parágrafos (não cansa a vista) */
  --color-heading: #FFFFFF;    /* Branco puro para títulos e seu nome */

  /* Cores de Destaque (Ação e Hover) */
  --color-primary: #7AA2F7;    /* Azul índigo suave para botões e links */
  --color-secondary: #BB9AF7;  /* Roxo calmo para detalhes, bordas ou efeitos de hover */

  /* Fontes */
  --font-sans: "Inter", sans-serif;         /* Fonte padrão para a página toda */
  --font-heading: "Outfit", sans-serif;     /* Fonte exclusiva para títulos */
  --font-mono: "Fira Code", monospace;      /* Fonte para tags e detalhes tech */

  /* Animação Girando Lento */
  --animate-spin-slow: spin 13s linear infinite;

  /* Animação de Entrada */
  --animate-fade-up: fade-up 0.8s ease-out forwards;
}

body {
  @apply min-h-screen min-w-screen bg-background text-muted font-sans;
}

button {
  @apply cursor-pointer;
}

@keyframes glow {
  0% {
    box-shadow: 0 0 5px rgba(var(--glow-color, 55, 227, 89), 0.2);
  }

  100% {
    box-shadow: 0 0 5px rgba(var(--glow-color, 55, 227, 89), 0.6);
  }
}

@keyframes fade-up {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Animação de Glow Oscilando */
.glow {
  animation: glow 3s ease-in-out infinite alternate;
}

/* Estado inicial (invisível e um pouco pra baixo) */
.reveal {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.7s cubic-bezier(0.5, 0, 0, 1); /* Curva suave de aceleração */
}

/* Estado final (quando o observer detecta que entrou na tela) */
.reveal.is-visible {
  opacity: 1;
  transform: translateY(0);
}